<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" ui-sref="Home" ng-bind="$ctrl.appName | lowercase"></a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" ui-sref="writer({articleId: 1})">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="register">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="Settings">Settings</a>
      </li>
<!--           <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li> -->
    </ul>
  </div>
</nav>
