 <div class="home-page">

  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl._AppConstants.appName | lowercase"></h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" show-authed="true">
              <a href="" class="nav-link"
                    ng-class="{ active: $ctrl.currentList.type === 'feed' }"
                    ng-click="$ctrl.changeList({ type: 'feed' })">Your Feed</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                    ng-class="{ active: $ctrl.currentList.type === 'all' && !$ctrl.currentList.filters }"
                    ng-click="$ctrl.changeList({ type: 'all' })">Global Feed</a>
            </li>
            <li class="nav-item" ng-show="$ctrl.currentList.filters.tag">
              <a href="" class="nav-link active"><i class="ion-pound"></i> {{$ctrl.currentList.filters.tag}}</a>
            </li>
          </ul>
        </div>

        <article-preview for="article" ng-repeat="article in $ctrl.articleList"></article-preview>

        <div class="post-preview" ng-hide="$ctrl.articleList">Loading articles...</div>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="label label-pill label-default"
               ng-click="$ctrl.changeList({ type: 'all', filters: { tag: tagName } })"
               ng-repeat="tagName in $ctrl.tags"
               ng-bind="tagName"></a>
          </div>
          <div ng-hide="$ctrl.tags">
            Loading...
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
